* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  --primary-color-dark: #1a1c1e;
  --secondary-color-dark: #313334;
  --text-color-dark: #f2f3f4;
  --primary-color-light: #f2f3f4;
  --secondary-color-light: #ddd;
  --text-color-light: #1a1c1e;
  overflow: hidden;
}

#dark {
  background-color: var(--primary-color-dark);
}

#light {
  background-color: var(--primary-color-light);
}
